body, html {
    height: 100%;
    margin: 0;
}
h1 {
    font-family: 'Fraunces', serif;
}
p {
    font-family: 'Barlow', sans-serif;
}
.header {
    background-image: url("./image-header.jpg");  
  
    height: 100%;
  
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    
    
}
ul {
    list-style-type: none;
    padding: 5px;
    margin: 0px;
    
    
    
    
  }
.links {
    float: right;
    
  }
  
a {
    display: block;
    padding: 8px;
    background-color: transparent;
    text-decoration: none;
    color: white;
  }
  .hero-text {
      color: white;
      display: block;
      text-align: center;
      font-size: 18px;
      margin-top: 100px;
      letter-spacing: 5px;
     
  }
  .hero-img {
      text-align: center;
      margin-top: 150px;
  }
  
  .div1 {
      width: 50vw;
      position: absolute;
      right: 15px;
      display: inline-block;
  }
  .div0 {
      text-align: center;
      width: 50vw;
      
      position: absolute;
      display: inline-block;
  }
  .trans {
      text-align: left;
      width: 400px;
      position: relative;
      top: 100px;
      display: block;
      margin: auto;
  }
.attribution {
    /* display: block; */
}
.img1 {
   width: 50vw;
}

.een {
    display: inline-block;
    width: 50vw;
    text-align: center;
    
    height: 41.73vw;
}
.twee {
    
    width: 50vw;
    float: right;
    height: 41.73vw;
}
.drie {
    display: inline-block;
    width: 50vw;
    text-align: center;
    
    height: 41.73vw;
}
.vier {
    
    width: 50vw;
    float: right;
    height: 41.73vw;
}
.vijf {
    width: 50vw;
    float: right;
    height: 41.73vw;
    background: url("./image-photography.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.zes{
    width: 50vw;
    height: 41.73vw;
    background: url("./image-graphic-design.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.text5 ,.text6 {
    width: 400px;
    display: block;
    margin: auto;
    position: relative;
    top: 70%;
}
.flex-grid {
    display: flex;
    padding: 200px;
  }
  .col {
    flex: 1;
    text-align: center;
  }
  .client {
      display: block;
      text-align: center;
      position: relative;
      top: 150px;
      text-transform: uppercase;
  }
  .test-img {
      border-radius: 100%;
      width: 100px;
      height: 100px;
      margin-bottom: 30px;
  }
  .testimonial-1 {
      width: 300px;
  }
  .testimony {
      margin-bottom: 30px;
  }
  .fourdiv {
      display: flex;
  }
  .divs1 {
    width: 25vw;
    height: 40vw;
    background: url("./image-gallery-milkbottles.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
  }
  .divs2 {
    width: 25vw;
    height: 40vw;
    background: url("./image-gallery-orange.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
   
  }
  .divs3 {
    width: 25vw;
    height: 40vw;
    background: url("./image-gallery-cone.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
  }
  .divs4 {
    width: 25vw;
    height: 40vw;
    background: url("./image-gallery-sugarcubes.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
  }
  .attribution {
      background-color: aquamarine;
      padding: 50px;
      
  }
  .footimg {
      display: block;
      margin: auto;
  }
  .links2 {
      display: inline-block;
  }
 
